.dashboard-nav {
    height: 50%;
    width: 4rem;
    position: fixed;
    background-color: azure;
    top: calc(50vh - 25%);
    border-radius: 0 2rem 2rem 0;
    box-shadow:
        0 4px 8px rgba(0, 0, 0, 0.08),
        0 12px 24px rgba(0, 0, 0, 0.1);
}

.dashboard-nav-link {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

.dash-link {
    color: black;
}

.dash-active {
    color: darkmagenta;
}
.dash-div {
    width:100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap:3rem;
    font-family: monospace,sans-serif;
    text-align: center;

}
.dash-div-all{
    display:flex;
    flex-direction: row;
    gap:3rem;

}
 .dash-sec{
    background: #f0f0f0;  
    height: 20vh;
    width: 20vw;
    padding: 1rem;         
    border-radius: 1rem;  
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.06),
    0 8px 16px rgba(0, 0, 0, 0.08); 
  }
  .dash-sec:hover{
    box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.08),
    0 12px 24px rgba(0, 0, 0, 0.1);
  }
  .dashboard{
   margin-top: 4rem;
  }
.logout{
    float: right;
    font-weight: bolder;
    font-size: 2rem;
    color: #000;
    text-align: center;
    transform: translate(-16rem,4rem);
}
 .logout:hover{
        color: darkmagenta;
    }
@media (max-width: 768px) {
    .dashboard-nav {
        width: 100%;
        height: 3rem;
        bottom: 0;
        top: auto;
        border-radius: 2rem 2rem 0 0;
        flex-direction: row;
        justify-content: space-around;
    }
    .dash-div {
        width:100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        gap:3rem;
        font-family: monospace,sans-serif;
        text-align: center;
    
    }
    .dashboard-nav-link {
        width: 100%;
        height: 100%;
        flex-direction: row;
        justify-content: space-around;
    }
   
    .dash-div-all{
        display:flex;
        flex-direction: column;
    }
    .dash-sec{
        width:100%;
        height: 2.1rem;
    }
    .logout{
        float: right;
        font-weight: bolder;
        transform: translate(-1rem,2rem);
    }
    .logout:hover{
        color: darkmagenta;
    }
}


