.login-form-wrapper{
    width:100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}


.login-form{
    width: 50%;
    height: 70%;
    background-color:white;
    box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.08),
    0 12px 24px rgba(0, 0, 0, 0.1);
    font-family: sans-serif;
    padding: 4em;
    display:flex;
    justify-content: center;
    justify-items: center;
    border-radius: 2rem;

}

.login-input-wrapper{
    width: 100%;
    height: 100%;
     display:flex;
     flex-direction: column;
    justify-content: space-evenly;
    
}


.login-input-wrapper label {
  position: relative;
  font-weight: bolder;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  margin-bottom: 1.5em;
}

.login-input-wrapper label > input {
  max-width: 100%;
  height: 3em;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid rgb(199, 200, 199);
  font-size: 1em;
}

.login-input-wrapper label > span {
  position: absolute;
  left: 0;
  font-size: 1em;
  color: #666;
  pointer-events: none;
  transition: all 0.3s ease;
}

/* Floating effect when focused or not empty */
.login-input-wrapper label > input:focus + span
, .login-input-wrapper label > input:not(:placeholder-shown) + span { 
  transform: translateY(-1.8em);
  font-size: 0.85em;
  color: black;
}

/* Underline animation */
.login-input-wrapper label::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
  z-index: 0;
}

.login-input-wrapper label:has(input:focus)::after {
  width: 100%;
}

  

.login-btn{
    background: linear-gradient(90deg,rgba(18, 20, 20, 1) 0%, rgba(88, 97, 97, 1) 100%);
    width: 100%;
    height:3em ;
    color:white;
    border-radius:6px;
    border:none;
    outline:none;
    
    
}
.login-btn:hover{
    cursor: pointer;
    background: linear-gradient(90deg,rgba(18, 20, 20, 1) 0%, rgba(49, 61, 61, 1) 92%);
}
.ask-to-sign-up{
    text-align: center;
}
.eye-icon:hover{
  cursor: pointer;
}

@media (max-width: 768px){
  .login-input-wrapper h2{
    text-align: center;
  }
  .login-image{
    display:none;
  }

}
